.bg-primary {
  background-color: #eaba3a;
}

input[type="number"].no-arrow::-webkit-inner-spin-button,
input[type="number"].no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.bg-modal {
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .h-modal {
    height: inherit;
  }
}

@media (min-width: 1024px) {
  .h-modal {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .max-h-modal {
    max-height: 520px;
  }
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

@media (min-width: 1280px) {
  .w-options {
    width: 168px;
  }
}

@media (min-width: 1024px) {
  .top-options {
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .top-options {
    margin-top: 56px;
    position: fixed;
  }
}

@media (min-width: 1024px) {
  .left-language {
    margin-left: -69px;
  }
}

@media (min-width: 1280px) {
  .left-options {
    margin-top: 85px;
    margin-left: 960px;
    position: fixed;
  }
}
